@footer-height: 120px;
@dark-background: #000;
@light-background: #fff;
@menu-width: 230px;
@menu-min-width: 44px;
@text-hide: 99999px;

@msg-info: lightskyblue;
@msg-error: red;
@msg-warning: yellow;
@msg-succesc: green;

//@menu-color: #e8e8e8;
@menu-color: #d1d1d1;
@menu-color-dark: #272727;

.horizontalni-gradient {
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(43,160,30,1) 50%, rgba(234,96,37,1) 55%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(43,160,30,1)), color-stop(55%,rgba(234,96,37,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(43,160,30,1) 50%,rgba(234,96,37,1) 55%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(43,160,30,1) 50%,rgba(234,96,37,1) 55%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(43,160,30,1) 50%,rgba(234,96,37,1) 55%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(43,160,30,1) 50%,rgba(234,96,37,1) 55%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.horizontal-gradient (@startColor: black, @endColor: white) {
    background-color: @startColor;
    background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(left, @startColor, @endColor);
    background-image: -moz-linear-gradient(left, @startColor, @endColor);
    background-image: -ms-linear-gradient(left, @startColor, @endColor);
    background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.vertical-gradient (@startColor: black, @endColor: white) {
    // IE9 prep
    @dataPrefix: ~"url(data:image/svg+xml;base64,";
    @dataSuffix: ~")";
    @dataContent: ~'<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1 1" preserveAspectRatio="none"><linearGradient id="g743" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%"><stop stop-color="@{startColor}" offset="0"/><stop stop-color="@{endColor}" offset="1"/></linearGradient><rect x="0" y="0" width="1" height="1" fill="url(#g743)"/></svg>';
    @b64Out: ~`(function(a,b,c){function e(a){a=a.replace(/\r\n/g,'\n');var b='';for(var c=0;c<a.length;c++){var d=a.charCodeAt(c);if(d<128){b+=String.fromCharCode(d)}else if(d>127&&d<2048){b+=String.fromCharCode(d>>6|192);b+=String.fromCharCode(d&63|128)}else{b+=String.fromCharCode(d>>12|224);b+=String.fromCharCode(d>>6&63|128);b+=String.fromCharCode(d&63|128)}}return b}function f(a){var b='';var c,f,g,h,i,j,l;var m=0;a=e(a);while(m<a.length){c=a.charCodeAt(m++);f=a.charCodeAt(m++);g=a.charCodeAt(m++);h=c>>2;i=(c&3)<<4|f>>4;j=(f&15)<<2|g>>6;l=g&63;if(isNaN(f)){j=l=64}else if(isNaN(g)){l=64}b=b+d.charAt(h)+d.charAt(i)+d.charAt(j)+d.charAt(l)}return b}var d='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';return a+f(b)+c})('@{dataPrefix}','@{dataContent}','@{dataSuffix}')`;

    background-color: mix(@startColor, @endColor, 60%); // Base solid colour fallback
    background-image: ~"@{b64Out}"; // IE9
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(top, @startColor, @endColor); // The standard
    background-repeat: repeat-x;
}
.round-corner (@rcradius: 5px ){
    -moz-border-radius:@rcradius;
    -webkit-border-radius: @rcradius;
    border-radius: @rcradius;
    -khtml-border-radius: @rcradius;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 100%;
}

.stretcher
{
    position: relative;
}

#menu {
    background-color: @dark-background;
    width: @menu-width;
    color: @menu-color;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    .horizontal-gradient (#000000, #272727);
}
#menu li a
{
    padding: 6px 15px;
}

#menu li a, #menu li ul li a, #menu.min li ul li a
{
    color: @menu-color;
    border-radius: 0px;
}

#menu li a:hover, #menu li a:active, #menu li a:focus,
#menu li ul li a:hover, #menu li ul li a:active, #menu li ul li a:focus,
#menu.min li ul li a:hover, #menu.min li ul li a:active, #menu.min li ul li a:focus
{
    color: @menu-color-dark;
    border-radius: 0px;
    background-color: @menu-color;   
}

#menu li a span+span, #menu li ul li a span+span
{
    padding-left: 5px;
}

#menu.min {
    width: @menu-min-width;
}

#menu li ul
{
    margin-left: 20px;
    font-size: 80%;
}

#content {
    margin-left: @menu-width + 10px;
}

#content.min {
    margin-left: @menu-min-width + 10px;
}

#content .row {
    margin-left: 0px;
    margin-right: 0px;
    min-height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

.post-it-note
{
    .vertical-gradient(#FFFFD6, #FFFF88);
    box-shadow: 0 1px 5px #CCC;
}

#logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    display: block;
    height: 62px;
    width: 230px;
}


#logo a {
    display: block;
    height: 62px;
    width: 230px;
}

#logo.min {
    background-image: url("../img/min-logo.png");
    background-position: left center;
    width: @menu-min-width;
}


#logo.min a {
    width: @menu-min-width;
}

#logo span {
    display: none;
}

#menu.min li ul
{
    background-color: @menu-color-dark;
    display: block;
    height: auto;
    left: @menu-min-width;
    margin-top: -41px;
    position: absolute;
    width: 200px;
    height: auto;
    z-index: 100;
    margin-left: 0;

}

#menu.min li ul.collapse
{
    display: none;

}

#msg-panel {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0px;
    width: auto%;
    background-color: @msg-info;
    border: 2px dotted darken(@msg-info, 25%);
    padding: 10px 15px 10px 60px;
    color: darken(@msg-info, 50%);
    background-image: url("../img/info.png");
    background-position: 15px center;
    background-repeat: no-repeat;


}

#msg-panel.success {

    background-color: @msg-succesc;
    border-color: darken(@msg-succesc, 25%);
    color: darken(@msg-succesc, 50%);
    background-image: url("../img/succ.png");
}

#msg-panel.error {

    background-color: @msg-error;
    border-color: darken(@msg-error, 25%);
    color: darken(@msg-error, 50%);
    background-image: url("../img/erro.png");
}

#msg-panel.warning {

    background-color: @msg-warning;
    border-color: darken(@msg-warning, 25%);
    color: darken(@msg-warning, 50%);
    background-image: url("../img/warn.png");
}

//sdc

fieldset.vdev-border, fieldset.volume-manager, fieldset.jbod{
    border: 1px groove #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.vdev-border, legend.volume-manager, legend.jbod{
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px 10px;
}
.drives, .services{
    border: 1px fuchsia solid;

}
.hdd{
    width: 40px;
    height: 40px;
/*    border: blue 1px solid;*/
    margin: 5px;
    display: inline-block;
    background-image: url("../img/hdd_icon_skareda_40x40.png")
}
.service{
    width: 40px;
    height: 40px;
    border: green 1px solid;
    margin: 5px;
    display: inline-block;
}


.sah
{
    display: none;
}

#dashboard.sah
{
    display: block;
}

.item
{
    min-height: 150px;
    min-width: 150px;
    position: relative;
    border: 1px solid #CCC;
    box-shadow: 0 1px 5px #CCC;
    .round-corner;
    /*overflow: hidden; */
    .vertical-gradient(@light-background, #f7f7f7);
}

.item header
{
    .vertical-gradient(#f7f7f7, #cdcdcd);
    box-shadow: 0 1px 2px #888;
    padding: 5px;
    cursor: pointer;
}

.item .dsh-item-header-icon
{
    position: absolute;
    right: 5px;
    top: 7px;

}

.lock
{
    padding: 5px 5px 5px 5px;
}

#packery-test
{
    max-width: 100%;
    min-height: 100%;
    display: block;
    position: relative;
}

#blue-div
{ 
    background-image: url("../img/dots.png");
    background-repeat: no-repeat;
    position: relative;
    left: 205px;
    height: 16px;
    width: 16px;
    cursor: pointer;

}

#menu.min #blue-div
{
    left: 20px; 
}

.glyphicon 
{
    font-size: 125%;
}

.vlog-wrap
{
    width: 36%;
    float: right;
}

.vdev-wrap
{
    width: 62%;
    float: left;
}

.table
{
    border: 1px solid #d3d3d3;        
    overflow:hidden;   
    .round-corner(7px);
    color: #000000;
}
.table a{
    color: #000;
}

.table > thead > tr > th {
    border: 1px solid #272727;
    vertical-align: bottom;
    //background-color: darken(@menu-color, 25%);
    .vertical-gradient(darken(@menu-color, 5%),darken(@menu-color, 25%));
    color: lighten(@menu-color, 10%);
}

.table > tbody > tr > td {
    border: 1px solid #999999;
    vertical-align: bottom;
}

.table > tbody > tr.odd > td {
    background-color: lighten(@menu-color, 10%);
    //.vertical-gradient(lighten(@menu-color, 14%),lighten(@menu-color, 8%));
}    

.table > tbody > tr.even > td {
    background-color: lighten(@menu-color, 5%);
    //.vertical-gradient(lighten(@menu-color, 6%),lighten(@menu-color, 4%));
}   

.table > tbody > tr:hover > td {
    //background-color: darken(@menu-color, 0%);
    .vertical-gradient(darken(@menu-color, 5%),darken(@menu-color, 0%));

}

.minimize {
    padding-right: 5px;
    cursor: pointer;
    font-weight: normal;
}

#list-test ul
{
    background-color: firebrick;
    .round-corner;
    position: relative;
}

#list-test ul > li > ul
{
    background-color: yellow;
    margin-right: 30px;

}

#list-test ul > li > ul > li > ul
{
    background-color: darksalmon;
    margin-right: 30px;

}

.VOLmeta
{
    right: 5px;
    margin-top: -20px;
    position: absolute;
}

#list-test .dropdown-menu
{
    position: absolute;
    left: -170px;
    top: 0;
    background-color: @menu-color;
}

.VOLmeta span+span
{
    padding-left: 7px;
}

.ui-selected {
    background-color: #2684D1;
}

.ui-selecting {
    background-color: #EBC232;
}

#dsh-lock
{
    cursor: pointer;
    font-size: 200%;

}

.dsh-item-lock
{
    display: none;
}

.vdev-controls > select {
    margin-bottom: 10px;
    width: 81px;
}

#top-icon-bar a span.glyphicon 
{
    color: #272727;
    font-size: 125%;
    padding: 0 5px;
    position: relative;
    top: 5px;
}

#top-icon-bar a span.glyphicon .red-alert-box
{
    border: 3px solid #FF0000;
    .round-corner(10px);
    color: #FF0000;
    font-size: 70%;
    font-weight: bold;
    line-height: 11px;
    padding-bottom: 2px;
    position: absolute;
    right: -7px;
    text-align: center;
    top: -4px;
    width: 15px;
}